body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #1C1C1C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.container {
    background-color: #1F2937;
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

#container-options {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

h1 {
   margin-bottom: 1px;
}

p {
    color: #808080;
    font-size: 1.05rem;
    line-height: 0.20rem;
    font-weight: 400;
    margin-bottom: 60px;
}

hr {
    height: 1px;
    background-color: #2F3E53;
    border: none;
}

span {
    color: #4ADF86;
}

#generate-btn {
    width: 100%;
    height: 30px;
    background: #10B981;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px, 10px;
    font-size: 12px;
    transition: transform 0.3s, box-shadow 0.2s;
    cursor: pointer;
    margin-bottom: 15px;
}

#generate-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(52, 137, 66, 0.4);
}

#generate-btn:active {
    transform: translateY(0px);
}

#settings-toggle {
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid #10B981;
    border-radius: 5px;
    padding: 13px 10px;
    font-size: 12px;
    transition: all 0.2s;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#settings-toggle:hover {
    background: #d9f4e9;
}

#settings-toggle #arrow {
    transition: transform 0.3s;
    font-size: 12px;
}

#settings-toggle.open #arrow {
    transform: rotate(180deg);
}

#settings-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-bottom: 15px;
}

#settings-panel.open {
    max-height: 300px;
}

#settings-content {
    background: #2F3E53;
    padding: 20px;
    border: none;
    border-radius: 10px;;
}

#length-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

#length-control label{
    font-weight: 600;
    font-size: 12px;
}

#length-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

#lengthSlider {
    width: 150px;
    cursor: pointer;
    accent-color: #10B981;
}

#lengthSlider:active {
    accent-color: white;
}

#length-display {
    font-weight: 700;
    font-size: 18px;
    min-width: 30px;
}

#checkbox-grp {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 5px;
}

#checkbox-grp label{
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#checkbox-grp input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #10B981;
}

#passwords-container {
    /* display: flex;
    justify-content: space-between; */
    gap: 5px;
}

#passwords-container > div {
    flex: 1;
}

.password-label {
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.password-box {
    background: #273549;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    min-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.password-box:hover {
    border: 1px solid #10B981;
    background-color: #d9f4e9;
    transform: translateY(-2px);
    box-shadow: 0px 15px 30px rgba(16 185 129 0.5);
}

.password-box:active {
    transform: translateY(0.56px);
}

.password-text {
    font-family: 'Inter', sans-serif;
    font-size: 8.5px;
    color: #10B981;
    word-break: break-all;
    text-align: center;
}

.password-box.empty .password-text {
    color: #10B981;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

#notification-el {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #10B981;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s;
    pointer-events: none;
    z-index: 1000;
}

#notification-el.show {
    opacity: 1;
    transform: translateY(0);
}

